.advantages {
    background-image: url("../assets/mobile-background.webp") no-repeat center/cover;
    padding-top: 50px;
    padding-bottom: 100px;
    @include _576 {
        padding-bottom: 50px;
    }

    @include _576 {
        background-image: url("../assets/mobile-background.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__title {
        font-family: Gilroy-Bold;
        text-align: center;
        max-width: 470px;
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: 66px;
        @include _576 {
            margin-bottom: 33px;
            font-size: 15px;
            max-width: 350px;
        }

        @media (max-width: 350px) {
            font-size: 13px;
            max-width: 320px;
        }
    }

    &__content {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        
        @media (max-width: 888px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__left-block,
    &__right-block {
        display: flex;
        flex-direction: column;
    }

    &__item {
        font-family: Gilroy-Bold;
        max-width: 400px;
        align-items: center;
        
        padding: 10px;

        &:not(:last-child) {
            margin-bottom: 32px;
        }

        @include _576 {
            background-color: transparent;
        }
    }

    &__icon {
        padding-right: 10px;
        height: 76px;
        width: auto;
        @include _576 {
            height: 60px;
        }

        @media (max-width: 350px) {
            height: 55px;
        }
    }

    &__text {
        font-size: 22px;
        @include _576 {
            font-size: 19px;
        }

        @media (max-width: 350px) {
            font-size: 17px;
        }
    }

    &__text-wrapper {
        .advantages__text:last-child{
            font-size: 18px;
        }
    }

    &__left-block {
        @media (max-width: 888px) {
            margin-bottom: 32px;
        }
    }

    &__right-block {
    }

    &__text-wrapper {
    }
}
