.footer {
    background-color: #494949;
    font-family: $font;
    font-size: 18px;
    line-height: 22px;
    padding: 24px 0;

    color: rgba(255, 255, 255, 0.47);

    @include _576 {
        font-size: 10px;
    }
    .container {
        justify-content: space-between;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
            @include _576 {
                margin-bottom: 5px;
            }
        }
    }
}
