.contacts {
    position: absolute;
    z-index: 4;
    margin-left: 5%;
    margin-top: 150px;
    padding: 32px 9px;

    background: rgba(255, 255, 255, 0.67);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 320px;
    font-family: $font;

    @include _576 {
        font-size: 13px;
        padding: 20px 5px;
        max-width: 200px;
    }

    .container {
        flex-direction: column;
        align-items: baseline;
    }

    &__title {
        margin-bottom: 20px;
        @include _576 {
            margin-bottom: 10px;
        }
    }

    &__info {
        p:not(:last-child) {
            margin-bottom: 10px;
            @include _576 {
                margin-bottom: 5px;
            }
        }
    }
}