@import "_slider";
@import "_review";

.reviews {
    background: rgba(105, 99, 99, 0.8) url("../assets/bg-reviews.webp");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        text-align: center;
        font-family: Gilroy-Bold;
        padding-top: 52px;
        padding-bottom: 60px;
    }
}
