@import "_reviews-slider";
@import "_review";

.reviews {
    background: rgba(105, 99, 99, 0.8) url("../assets/bg-reviews.webp");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 52px;

    &__title {
        text-align: center;
        font-family: $font;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 60px;
        border-radius: 5px;

        @media (max-width: 473px) {
            max-width: 390px;
            font-size: 25px;
        }

        @media (max-width: 370px) {
            max-width: 320px;
            font-size: 21px;
        }
    }
}
