.slider {
    max-width: 1300px;
    padding: 0 5px;
    margin: 0 auto;
    position: relative;

    &__wrap {
    }

    &__review {
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 250px;
        z-index: 3;
        @include _576 {
            bottom: 180px;   
        }
    }

    &__arrow-left,
    &__arrow-right {
        outline: none;
        border: none;
        width: 35px;
        height: 67px;
        background-image: url("../assets/arrow-tap.svg");
        background-size: 35px 67px;
        @include _576 {
            background-size: 21px 40px;
            width: 21px;
            height: 40px;    
        }
    }

    &__arrow-left {
        transform: rotate(180deg);
        
    }

    &__arrow-right {
    }
}
