.main-page {
    background: linear-gradient(115.14deg, rgba(255, 255, 255, 0.28) -2.96%, 
                    rgba(255, 255, 255, 0) 32.2%), 
                    linear-gradient(0deg, rgba(0, 0, 0, 0.66), 
                    rgba(0, 0, 0, 0.66)), 
                    url("../assets/main-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 10px;
    @include _768 {
        position: static;
    }

    &__left-block {
        position: relative;
        flex-direction: column;
        max-width: 455px;
        text-align: left;
        align-items: start;

        margin-top: 123px;

        @include _768 {
            margin: 70px auto 0 auto;
            text-align: center;
            align-items: center;
        }

        @include _576 {
            margin-top: 30px;
        }
    }

    &__article {   
        font-family: Gilroy-Bold;
        font-size: 36px;
        line-height: 44px;
        text-transform: uppercase;
        color: white;

        .orange {
            color: #D7AB11;
        }
    }

    &__subarticle {
        font-family: Montserrat;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        
        color: #FFFFFF;

        max-width: 430px;

        &::first-letter {
            text-transform: uppercase;
        }

        margin-bottom: 30px;
    }

    &__catalog {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        
        padding: 31px 45px;
        margin-bottom: 111px;

        color: #202020;
        background: linear-gradient(275.67deg, #C07606 1.94%, #E0BC3C 96.1%), #D7AB11;
        box-shadow: 0px 9px 35px #D7AB11;
        border-radius: 10px;
        transition: box-shadow .3s;

        &:hover {
            box-shadow: 0px 9px 50px #D7AB11;
            transition: box-shadow .3s;
        }
    }

    &__img {
        position: absolute;
        z-index: -2;
        top: 100%;
        transform: translateY(-100%) translateX(100%);
        @include _992 {
            transform: translateY(-100%) translateX(85%);
        }
        @include _768 {
            display: none;
        }
    }
}
