@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/Gilroy-Bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Gilroy-Bold.ttf') format('truetype'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}